@import url('global.css');

:root {
    --clr-d-bg: #006203;
    --clr-l-bg-dv: #89D749;
    --clr-d-txt: #2E4005;
    --clr-l-txt-dv: #FFF;
    --clr-org-bg: #FF8400;
    --clr-navbar-txt: #03c803;
}

.book-container {
    display: flex;
}

.left {
    flex: 1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left img {
    height: 90vh;
    object-fit: cover;
}

.right {
    flex: 3;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right h2 {
    font-size: 60px;
    color: rgb(255, 0, 0);
    -webkit-text-stroke: 2px var(--clr-navbar-txt);
    -webkit-text-fill-color: white;
}

.right p {
    font-size: 14px;
    color: grey;
}

.multi-step-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.multi-step-form input {
    color: black; /* Set the text color to black */
}

form fieldset {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 20px;
    display: none;
    width: 100%; /* Ensure it takes full width */
    max-width: 750px; /* Optional: Limit max width */
    box-sizing: border-box;
    margin: 0 auto;
}

form fieldset.active {
    display: block;
}

form legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-d-bg);
}

.form-step input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #d3d3d3;
    color: white;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

button, .submit-btn {
    padding: 10px 20px;
    background-color: var(--clr-d-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .submit-btn:hover {
    background-color: white;
    border: 2px solid var(--clr-navbar-txt);
    color: var(--clr-d-bg);
}

.submit-button-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.submit-btn {
    background-color: red; /* This sets the background color */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

label {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.prev-button-container {
    text-align: left;
    margin-top: 20px;
}

.submit-button-container .submit-btn {
    background-color: var(--clr-d-bg);
}

.submit-button-container .submit-btn:hover {
    background-color: white;
    color: var(--clr-d-txt);
    border: 2px solid var(--clr-d-txt);
}

.options a, .signup a {
    color: black; /* Default color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition */
}

.options a:hover, .signup a:hover {
    color: var(--clr-d-bg); /* Turn green on hover */
}